
.site-footer {

  padding: 2rem 15% 1rem;
  background-color: var(--my-black);
  color: var(--dark-gray);
  font-weight: 300;
  font-size: 1.2rem;
}

.social-icons {
  text-align: right;

}

.single-social-icon {
  margin: auto 0.4rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100%;
  background-color: var(--dark-gray);
  color: var(--my-black);
}

.lab-site-icon:hover{
  background-color: var(--light-yellow);
}

.email-icon:hover{
  background-color: var(--light-yellow);
}

.email-icon{
  padding-right: 0.15rem;
}



@media (max-width:1300px)
{



  .site-footer {
    padding: 2rem 5% 2rem;
    font-size: 2rem;
  }


  .single-social-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding-top: 15px;

  }

}
