.btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 100;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  color: var(--my-black);
  font-size: 1.5rem;
}

.btnOpen:hover {
  font-size: 2rem;
  color: var(--my-black);
  transition: all 0.5s ease-out;
}

.btnClose {
  color: var(--my-black);
  z-index: 9;
  transform: translateX(5rem);
  opacity: 0;
}

.btnClose:hover {
  color: var(--my-black);
  font-size: 2rem;
  transition: all 0.5s ease-out;
}

.nav-list {
  position: fixed;
  z-index: 8;
  top:0;
  right: 0;
  width: 300px;
  margin: 0;
  padding: 6rem 0 0;
  list-style: none;
  background-color: white;
  transform: translateX(300px);
  height: 100%;
}

.nav-category {
  font-size: 1.2rem;
  padding: 1rem 0 2rem 3rem;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

.nav-category:hover {
  background-color: var(--light-gray);
}




@media (max-width:1300px)
{

  .btn {
    top: 3rem;
    right: 3rem;
    font-size: 4rem;
  }

  .btnOpen:hover {
    font-size: 5rem;
  }



  .btnClose:hover {
    font-size: 5rem;
  }

  .nav-category {
    font-size: 4rem;

  }

  .nav-list {
    margin-top: 3.2rem;
    width: 35rem;
    transform: translateX(35rem);
  }



}
