:root {


  --light-gray: #9BA5B5;
  --light-blue: #9BA5B5;
  --light-yellow: #FCA311;
  --dark-blue: #1d3557;
  --dark-gray: #6B6B6B;
  --vary-dark-gray: #3D4756;
  --my-black: #1A1A1A;


  --header-font: 'Oswald';
  --small-font: 'Open Sans';

}

body {
  background-color: var(--dark-gray);
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
}

.info-section {
  padding: 5% 15%;
}

.section-title {
  font-size: 3rem;
  font-weight: 400;
}

.section-description {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 2rem 0;

}

/* HEADER  */
#header {
  height: 40rem;
  background: radial-gradient(ellipse at bottom, var(--light-yellow) 0%, var(--light-blue) 70%);
  overflow: hidden;
}

.header-title {
  padding-top: 20%;
  color: var(--my-black);
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 2.2rem;
}

.header-title .letter {
  display: inline-block;
  line-height: 1;
}



.header-box{
  padding-top: 13%;

  color: var(--my-black);
  text-align: center;
  font-weight: 900;
  font-family: 'open'
  font-size: 4rem;
  /* letter-spacing: 2.2rem; */
}



.large-space-letter{
  letter-spacing: 2.2rem;
  margin-right:-2.2rem;
  font-size: 6rem;
  /* text-transform: uppercase; */
}

/* READ MORE BUTTON */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
.read-more-ref {
  color: var(--my-black);
  font-size: 1.3rem;
}

.read-more-ref:link {
  text-decoration: none;
}

.read-more-ref:visited {
  text-decoration: none;
}

.read-more-ref:hover , .read-more-ref:active {
  text-decoration: none;
  color: var(--light-yellow);
}



.right-button {
  text-align: right;
}

/* button.read-more-btn {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  color: #1A1A1A;
  border-color: #1A1A1A;
}

button.read-more-btn:before,
button.read-more-btn:after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
  border-color: #1A1A1A;
}

button.read-more-btn:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

button.read-more-btn:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

button.read-more-btn:hover:before,
button.read-more-btn:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #1A1A1A;
}

button.read-more-btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  border-color: #1A1A1A;
  cursor: pointer;
}

.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
} */





/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* GAME GALLERY */
.gallery {
  margin: 3% 15%;
}

.gallery-cell {
  margin-right: 4.5rem;
  counter-increment: gallery-cell;
  border-radius: 0.5rem;
}

/* .flickity-page-dots{
  text-align: center !important;
  /* margin-left: 0; */
/* padding-inline-start:0 !important;
}

.flickity-page-dots .dot {


  opacity: 1 !important;

}
 fill-in selected dot
.flickity-page-dots .dot.is-selected {
  background: white;
} */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* DOWNLOAD BUTTONS */
.download-btn-section {
  text-align: center;
}


.download-btn {
  margin: 1.5rem;
  width: 9rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: 'Open Sans', 'sans-serif';
  letter-spacing: 2.2px;
  color: white;
  background-color: var(--my-black);
  border: none;
  border-radius: 3rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.download-btn:hover, .download-btn:active{
  background-color: var(--light-yellow);
  box-shadow: 0px 15px 20px rgba(252, 163, 17, 0.2);
  color: var(--my-black);
  transform: translateY(-7px);
}



/* CONTACT US */

.vertical-hr{
  border:         none;
  border-left:    0.1rem dotted var(--light-gray);
  width:          0.1rem;
}


.right-col{
  border:         none;
  border-left:    0.1rem solid var(--light-yellow);
  /* height:         20rem; */

}

.contact-col{
  margin-top:2rem;
  padding: 2rem  7rem;
}

.contact-small-section{
  margin: 1.5rem;
}

.contact-icon{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
.contact-header{
  margin-bottom: 1.5rem;
}

.email-link{
  text-decoration: none;
  color: var(--my-black);
}


.email-link:link {
  text-decoration: none;
}

.email-link:visited {
  text-decoration: none;
}

.email-link:hover , .email-link:active {
  text-decoration: none;
  color: var(--light-yellow);
}
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* SECTIONS COLORS */
#study {
  background-color: white;
}

#game {
  background-color: var(--light-gray);
}

#technology {
  background-color: white;
}

#team {
  background-color: var(--dark-gray);
}

#funding {
  background-color: white;
}

#publications {
  background-color: var(--light-gray)
}

#press {
  background-color: white;
}

#contact {
  background-color: var(--dark-gray);
}









@media (max-width:1300px)
{
  .info-section{
    padding: 10% 5%;
  }

  .section-title {
    font-size: 5rem;
    font-weight: 400;
  }

  .section-description {
    font-size: 3.5rem;
    font-weight: 200;
    /* margin-top: 3rem ;
    margin-bottom: 3rem ; */
    margin: 3rem 0;
  }

  .read-more-ref {
    color: var(--my-black);
    font-size: 3rem;
  }

  .large-space-letter{

    font-size: 8rem;
  }

  .header-title1{
    font-size: 5rem;

  }

  .header-title3{

  font-size: 5rem;
  }

  .header-box{
    padding-top: 8%;

  }




}
