:root {
  --light-gray: #9BA5B5;
  --light-blue: #9BA5B5;
  /* --light-yellow: #FCA311; */
  --light-yellow: #7A473D;
  --dark-blue: #1d3557;
  --dark-gray: #6B6B6B;
  --vary-dark-gray: #3D4756;
  --very-dark-gray: #212529;
  --mystery-blue: #212532;
  --my-black: #1A1A1A;
  --header-font: 'Oswald';
  --small-font: 'Open Sans';
}



body {
  /* background-color: var(--dark-gray); */
  /* background-color: var(--light-blue); */
  background: transparent;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
  color: var(--very-dark-gray);
}

.info-section {
  padding: 8% 15%;
}

.section-title {
  font-size: 3rem;
  font-weight: 400;
}

.section-description {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 2rem 0;
}

/* HEADER  */
#header {
  position: relative;
  top: -1.5rem;
  height: 40rem;
  background: radial-gradient(ellipse at bottom, var(--light-yellow) 0%, var(--light-blue) 70%);
  overflow: hidden;
}

.header-title {
  padding-top: 20%;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 2.2rem;
}

.header-title .letter {
  display: inline-block;
  line-height: 1;
}

.header-box {
  padding-top: 13%;
  color: var(--very-dark-gray);
  text-align: center;
  font-weight: 900;
  font-family: 'open'
    font-size: 4rem;
  /* letter-spacing: 2.2rem; */
}

.large-space-letter {
  letter-spacing: 2.2rem;
  margin-right: -2.2rem;
  font-size: 6rem;
  /* text-transform: uppercase; */
}

/* READ MORE BUTTON */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
.read-more-ref {
  color: var(--my-black);
  font-size: 1.3rem;
}

.read-more-ref:link {
  text-decoration: none;
}

.read-more-ref:visited {
  text-decoration: none;
}

.read-more-ref:hover, .read-more-ref:active {
  text-decoration: none;
  color: var(--light-yellow);
}

.right-button {
  text-align: right;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* DIAGONAL SECTIONS */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* GAME GALLERY */
.gallery {
  margin: 3% 15%;
}

.gallery-cell {
  margin-right: 4.5rem;
  counter-increment: gallery-cell;
  border-radius: 0.5rem;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* DOWNLOAD BUTTONS */
.download-btn-section {
  text-align: center;
}

.download-btn {
  margin: 1.5rem;
  width: 9rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: 'Open Sans', 'sans-serif';
  letter-spacing: 2.2px;
  color: white;
  background-color: var(--my-black);
  border: none;
  border-radius: 3rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.download-btn:hover, .download-btn:active {
  background-color: var(--light-yellow);
  box-shadow: 0px 15px 20px rgba(252, 163, 17, 0.2);
  color: var(--my-black);
  transform: translateY(-7px);
}

/* CONTACT US */
.right-col {
  border: none;
  border-left: 0.1rem solid var(--light-yellow);
}

.contact-col {
  margin-top: 2rem;
  padding: 2rem 7rem;
}

.contact-small-section {
  margin: 1.5rem;
  color: var(--very-dark-gray);
}

.contact-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.contact-header {
  margin-bottom: 1.5rem;
}

.email-link {
  text-decoration: none;
  color: var(--very-dark-gray);
}

/* .email-link:link {
  text-decoration: none;
} */
.email-link:visited {
  text-decoration: none;
}

.email-link:hover, .email-link:active {
  text-decoration: none;
  color: var(--light-yellow);
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* SECTIONS COLORS */
#study {
  background-color: white;
}

#game {
  background-color: var(--light-gray);
}

#technology {
  background-color: white;
  position: relative;
}

#team {
  background-color: var(--dark-gray);
  padding: 2% 15%;
  position: relative;
  -webkit-transform: skewY(6deg);
  -moz-transform: skewY(6deg);
  -ms-transform: skewY(6deg);
  -o-transform: skewY(6deg);
  transform: skewY(6deg);
}

.diagonal-content {
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform: skewY(-6deg);
}

#funding {
  background-color: white;
}

#publications {
  background-color: var(--light-gray);
  /* padding: 2% 15%; */
  position: relative;
  -webkit-transform: skewY(6deg);
  -moz-transform: skewY(6deg);
  -ms-transform: skewY(6deg);
  -o-transform: skewY(6deg);
  transform: skewY(6deg);
}

#press {
  background-color: white;
}

#contact {
  background-color: var(--dark-gray);
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* MEDIA CHANGES */
@media (max-width:990px) {
  .info-section {
    padding: 15% 5%;
  }

  #contact {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .section-title {
    font-size: 5rem;
    font-weight: 400;
  }

  .section-description {
    font-size: 3.5rem;
    font-weight: 200;
    /* margin-top: 3rem ;
    margin-bottom: 3rem ; */
    margin: 3rem 0;
  }

  .read-more-ref {
    color: var(--my-black);
    font-size: 3rem;
  }

  .large-space-letter {
    font-size: 8rem;
  }

  .header-title1 {
    font-size: 5rem;
  }

  .header-title3 {
    font-size: 5rem;
  }

  .header-box {
    padding-top: 8%;
  }

  /* CONTACT SECTION */
  .right-col {
    border-left: 0.3rem solid var(--light-yellow);
  }

  .contact-col {
    margin-top: 2rem;
    padding: 3rem 3rem;
  }

  .contact-small-section {
    margin: 1.5rem;
    font-size: 2rem;
  }

  .contact-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 3rem;
  }

  .contact-header {
    margin-bottom: 2rem;
    font-size: 2.7rem;
  }

  /* gallery */
  .gallery {
    margin: 7% 5%;
  }

  .gallery-cell {
    /* width: 70rem; */
    margin-right: 12rem;
    counter-increment: gallery-cell;
    border-radius: 0.5rem;
  }

  .download-btn {
    margin: 1.5rem;
    width: 20rem;
    height: 6rem;
    font-size: 2rem;
  }
}
